.game-area {
  background-color: #000000;
  position: relative;
  border: 3px solid #1e675a;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(30, 103, 90, 0.5);
}

.paddle {
  position: absolute;
  background-color: #d8b45d;
  border-radius: 3px;
  box-shadow: 0 0 5px #d8b45d;
  transition: top 0.05s linear;
}

.ball {
  position: absolute;
  background-color: #dd5d32;
  border-radius: 50%;
  box-shadow: 0 0 8px #dd5d32;
}